@font-face {
    font-family: 'Plastik';
    src: url('font/Plastik.woff2') format('woff2'),
        url('font/Plastik.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: orangered;
    --bg-main: #fff7ed;
    --bg-form: #fdf8f3;
    --overlay-text: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: var(--bg-main);
}

.background {
    background-image: url("branden-skeli-kQ0_flbwBI4-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 100vh;
    height: 100dvh;
    position: relative;
}

.background .logo {
    position: absolute;
    top: 18%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Plastik', Montserrat, "Segoe UI", Arial, sans-serif;
    color: var(--overlay-text);
    text-align: center;
    padding: 12px 0px;
}

.logo p {
    padding: inherit;
    font-size: 60px;
    letter-spacing: 0.1em;
}

.logo p span {
    color: var(--primary);
    font-weight: 900;
    text-shadow: 2px 1px 1px white;
}

.credit {
    color: var(--overlay-text);
    left: 25%;
    position: absolute;
    bottom: 1%;
    font-size: 1.2em;
}

.credit a {
    color: inherit;
}

.credit p {
    font-size: inherit;
}

.form-section {
    font-family: 'Poppins', "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.header h2 {
    font-size: 1.8em;
    font-family: 'Plastik', "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    font-weight: 800;
}

fieldset {
    border: none;
    display: flex;
    gap: 10%;
    margin-top: 2%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.8em;
}

.input-wrapper input {
    width: 300px;
    padding: 0.3em;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.input-wrapper input:invalid:not(:placeholder-shown) {
    outline: none;
    border: 1px solid red;
    box-shadow: 0 0 0 0.5px;
}

.input-wrapper input:focus {
    outline: none;
    border: 1px solid #66b2f8;
    box-shadow: 0 0 0 0.5px;
}

.form-inputs {
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: var(--bg-form);
    box-shadow: 0 0.6em 1em #aaa;
}

.form-inputs p:first-of-type {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.form-inputs p {
    font-size: 1.2em;
}

.header {
    padding-top: 10em;
}

.header,
.form-inputs,
.submit-button,
.ask-login {
    padding-left: 10%;
}

button[type="submit"] {
    margin-top: 4%;
    padding: 0.7em 2.2em;
    font-size: 1.2em;
    border-radius: 10px;
    color: var(--overlay-text);
    background-color: var(--primary);
    font-weight: bold;
    border: 0.5px solid #ccc;
}

button[type="submit"]:hover {
    background-color: #e03800;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.ask-login p {
    margin-top: 1.2em;
    font-size: 1.2em;
}

.ask-login p a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}